# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [2]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
print(data.head(20))

    children  days_employed  dob_years            education  education_id  \
0          1    8437.673028         42               высшее             0
1          1    4024.803754         36              среднее             1
2          0    5623.422610         33              среднее             1
3          3    4124.747207         32              среднее             1
4          0  340266.072047         53              среднее             1
5          0     926.185831         27               высшее             0
6          0    2879.202052         43               высшее             0
7          0     152.779569         50              среднее             1
8          2    6929.865299         35               высшее             0
9          0    2188.756445         41              среднее             1
10         2    4171.483647         36               высшее             0
11         0     792.701887         40              среднее             1
12         0  365286.622650         65              среднее             1
13         0    1846.641941         54  неоконченное высшее             2
14         0    1844.956182         56               высшее             0
15         1     972.364419         26              среднее             1
16         0    1719.934226         35              среднее             1
17         0    2369.999720         33               высшее             0
18         0  400281.136913         53              среднее             1
19         0   10038.818549         48              среднее             1

       family_status  family_status_id gender income_type  debt  total_income  \
0    женат / замужем                 0      F   сотрудник     0        253875
1    женат / замужем                 0      F   сотрудник     0        112080
2    женат / замужем                 0      M   сотрудник     0        145885
3    женат / замужем                 0      M   сотрудник     0        267628
4   гражданский брак                 1      F   пенсионер     0        158616
5   гражданский брак                 1      M   компаньон     0        255763
6    женат / замужем                 0      F   компаньон     0        240525
7    женат / замужем                 0      M   сотрудник     0        135823
8   гражданский брак                 1      F   сотрудник     0         95856
9    женат / замужем                 0      M   сотрудник     0        144425
10   женат / замужем                 0      M   компаньон     0        113943
11   женат / замужем                 0      F   сотрудник     0         77069
12  гражданский брак                 1      M   пенсионер     0        118514
13   женат / замужем                 0      F   сотрудник     0        130458
14  гражданский брак                 1      F   компаньон     1        165127
15   женат / замужем                 0      F   сотрудник     0        116820
16   женат / замужем                 0      F   сотрудник     0        289202
17  гражданский брак                 1      M   сотрудник     0         90410
18    вдовец / вдова                 2      F   пенсионер     0         56823
19         в разводе                 3      F   сотрудник     0        242831

                                   purpose total_income_category  \
0                            покупка жилья                     B
1                  приобретение автомобиля                     C
2                            покупка жилья                     C
3               дополнительное образование                     B
4                          сыграть свадьбу                     C
5                            покупка жилья                     B
6                        операции с жильем                     B
7                              образование                     C
8                    на проведение свадьбы                     C
9                  покупка жилья для семьи                     C
10                    покупка недвижимости                     C
11       покупка коммерческой недвижимости                     C
12                         сыграть свадьбу                     C
13                 приобретение автомобиля                     C
14              покупка жилой недвижимости                     C
15  строительство собственной недвижимости                     C
16                            недвижимость                     B
17              строительство недвижимости                     C
18      на покупку подержанного автомобиля                     C
19            на покупку своего автомобиля                     B

            purpose_category
0   операции с недвижимостью
1     операции с автомобилем
2   операции с недвижимостью
3      получение образования
4         проведение свадьбы
5   операции с недвижимостью
6   операции с недвижимостью
7      получение образования
8         проведение свадьбы
9   операции с недвижимостью
10  операции с недвижимостью
11  операции с недвижимостью
12        проведение свадьбы
13    операции с автомобилем
14  операции с недвижимостью
15  операции с недвижимостью
16  операции с недвижимостью
17  операции с недвижимостью
18    операции с автомобилем
19    операции с автомобилем

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [61]:
#выводим кол-во людей сгруппированые по кол-ву детей
# + выводим процентное соотнощение людей не выплативщие кредит, сгруппированые по кол-ву детей
pivot_сhildren = data.pivot_table(index=['children'], values='debt', aggfunc=['count', 'mean'])

#добавляем столбец процентное соотнощение людей по кол-ву детей
pivot_сhildren['ratio'] = pivot_сhildren[('count', 'debt')]/data['debt'].count()*100
pivot_сhildren

          count      mean      ratio
           debt      debt
children
0         14091  0.075438  66.058788
1          4808  0.092346  22.539965
2          2052  0.094542   9.619802
3           330  0.081818   1.547044
4            41  0.097561   0.192209
5             9  0.000000   0.042192

In [58]:
#1. Видим что кол-во клиентов у которых детей 3 и более составляет меньше 2% от общего количества 
# значит выгрузка процентного показателя, не выплативших кредит из этих групп, не репрезентативна.

In [59]:
#выводим процентное соотнощение людей не выплативщие кредит, сгруппированые по кол-ву детей
# pivot_children_debt = data.pivot_table(index=['children'], values='debt', aggfunc='mean')*100
# pivot_children_debt.rename(columns = {'debt': 'neviplativshie_%'}, inplace = True)

In [26]:
# Целесообразно ли объединить группы людей с двумя и более детьми в одну? 

debt_without_children = data[data['children'] == 0]['debt'].mean()*100
debt_with_children_1 = data[data['children'] == 1]['debt'].mean()*100
debt_with_children_2 = data[data['children'] >= 2]['debt'].mean()*100

print('процент не выплат кредита у заемщиков без детей',debt_without_children, '%')
print('процент не выплат кредита у заемщиков с одним ребенком', debt_with_children_1, '%')
print('процент не выплат кредита у заемщиков с двумя детьми и болee', debt_with_children_2, '%')

процент не выплат кредита у заемщиков без детей 7.543822297920659 %
процент не выплат кредита у заемщиков с одним ребенком 9.234608985024959 %
процент не выплат кредита у заемщиков с двумя детьми и болee 9.251644736842106 %

**Вывод:** 1. Видим что кол-во людей у которых детей 3 и болeе составляет меньше 2% от общего количества, значит выгрузка процентного показателя не выплативших кредит из этой группы не репрезентативна.
2. Бездетные одладают большей кредитоспособностью

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [27]:
pivot_family_status_debt = data.pivot_table(index=['family_status'], values='debt', aggfunc='mean')*100
pivot_family_status_debt.rename(columns = {'debt': 'neviplativshie_%'}, inplace = True)
print(pivot_family_status_debt)

                       neviplativshie_%
family_status
Не женат / не замужем          9.763948
в разводе                      7.064760
вдовец / вдова                 6.624606
гражданский брак               9.313014
женат / замужем                7.560558

In [28]:
#выводим кол-во клиентов сгруппированые по статусу в браке
pivot_family_status = data.pivot_table(index=['family_status'], values='debt', aggfunc='count')
pivot_family_status = pivot_family_status.reset_index()

#добавляем столбец процентное соотнощение людей по статусу в браке
pivot_family_status['ratio'] = pivot_family_status['debt']/data['debt'].count()*100

#соединяем две таблички
pivot_family_status = pivot_family_status.merge(pivot_family_status_debt, on='family_status', how='left')

print(pivot_family_status)

           family_status   debt      ratio  neviplativshie_%
0  Не женат / не замужем   2796  13.107684          9.763948
1              в разводе   1189   5.574047          7.064760
2         вдовец / вдова    951   4.458300          6.624606
3       гражданский брак   4134  19.380245          9.313014
4        женат / замужем  12261  57.479724          7.560558

Из выборки данных видим что клиенты не в браке и в гражданском браке хуже выплачивают кредит.
Поэтому объединим их в одну группу, a клиенты в разводе, вдовцы и в браке в другую.

In [30]:
#количество клиентов должников Не женатых / не замужемем и в гражданском браке
result1 = data[((data['family_status'] == 'Не женат / не замужем') \
| (data['family_status'] == 'гражданский брак'))]['debt'].mean()*100 
print('количество клиентов должников Не женатых / не замужемем и в гражданском браке', result1, '%')

количество клиентов должников Не женатых / не замужемем и в гражданском браке 9.494949494949495 %

In [31]:
#количество клиентов должников в разводе, вдовец / вдова, женат / замужем
result2 = data[((data['family_status'] == 'в разводе') \
| (data['family_status'] == 'вдовец / вдова') \
| (data['family_status'] == 'женат / замужем'))]['debt'].mean()*100
print('количество клиентов должников в разводе, вдовец / вдова, женат / замужем', result2, '%')

количество клиентов должников в разводе, вдовец / вдова, женат / замужем 7.4578154294840635 %

**Вывод:** Клиенты которые находятся в браке или когда либо находились в браке более кридитоспособны

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [32]:
#сводная таблица не выплативших клиентов, по уровню дохода
pivot_total_income_category = data.pivot_table(index=['total_income_category'], values='debt', aggfunc='mean')*100
pivot_total_income_category.rename(columns = {'debt': 'neviplativshie_%'}, inplace = True)

#выводим кол-во клиентов сгруппированые по уровню дохода
pivot_total_income = data.pivot_table(index=['total_income_category'], values='debt', aggfunc='count')
pivot_total_income = pivot_total_income.reset_index()

#добавляем столбец процентное соотнощение
pivot_total_income['ratio'] = pivot_total_income['debt']/data['debt'].count()*100

#соединяем две таблички
pivot_total_income = pivot_total_income.merge(pivot_total_income_category, on='total_income_category', how='left')

print(pivot_total_income)

  total_income_category   debt      ratio  neviplativshie_%
0                     A     25   0.117200          8.000000
1                     B   5014  23.505696          7.060231
2                     C  15921  74.637851          8.498210
3                     D    349   1.636116          6.017192
4                     E     22   0.103136          9.090909

**Вывод:** 1 Видим что клиентов в категории : А D E составляет менее 2% от общего количества, поэтому результат в этих категориях не репрезентативен.
2 Наиболее кридитоспособны клиенты в категории В с зарплатой 50000-200000

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [33]:
#сводная таблица не выплативших клиентов по цели кредита
pivot_purpose_category = data.pivot_table(index=['purpose_category'], values='debt', aggfunc='mean')*100
pivot_purpose_category.rename(columns = {'debt': 'neviplativshie_%'}, inplace = True)

#выводим кол-во клиентов сгруппированые по  цели кредита
pivot_purpose = data.pivot_table(index=['purpose_category'], values='debt', aggfunc='count')
pivot_purpose = pivot_purpose.reset_index()

#добавляем столбец процентное соотнощение
pivot_purpose['ratio'] = pivot_purpose['debt']/data['debt'].count()*100

#соединяем две таблички
pivot_purpose = pivot_purpose.merge(pivot_purpose_category, on='purpose_category', how='left')

print(pivot_purpose)

           purpose_category   debt      ratio  neviplativshie_%
0    операции с автомобилем   4279  20.060007          9.347978
1  операции с недвижимостью  10751  50.400825          7.255139
2     получение образования   3988  18.695795          9.252758
3        проведение свадьбы   2313  10.843373          7.911803

**Вывод:** Наиболее крeдитоспособные клиенты которые берут кредит на цели связанные с недвижимостью и проведением  свадеб

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 1. Предполагаю что данные о доходах не указали неработающие граждане(пенсионеры) или граждане которые не хотят указывать свой доход 
2. Возможно был технический сбой, Не выгрузилось из базы

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Потому что что среднее значение не корректно отображают уровень дохода в для каждой из групп
- Медиана предпочтительнее для выборки зарплат тк если использовать среднее значение слишком высокие или низкие зарплаты сведут к среднему показателю что не корректно в таком случае

### Шаг 4: общий вывод.

Общие сведения по должникам:
- Количество должников у которых нет детей составляет 7,5%;  
- Количество должников у которых 1 ребенок составляет 9,2%;
- Количество должников у которых 2-е и больше детей составляет 9,3%;
.
- Количество должников среди не женатых/не замужем и в гражданском браке составляет 9,49%;
- Количество должников среди клиентов в разводе, вдов/вдовцов и женатых составляет 7,46%;

Количество должников среди клиентов которые брали кредит на цели связанные с:
- операциями с автомобилями составляет 9,35%;
- операциями с недвижимостью составляет 7,25%;
- на получение образования составляет 9,25%;
- на проведение свадьбы составляет 7,91%;

Должников с уровнем дохода в размере :
- 200000-1000000 составляет 7,1%;
- 50000-200000 составляет 8,49%;
- 30000-50000 составляет 6,02%;

Проанализировав факторы влияющие на погашение кредита в срок, а именно выяснили что:
-Клиенты без детей , которые состоят или когда либо состояли  в браке с зарплатой 200000 или выше , а также которые берут кредит на недвижимость или проведение свадьбы наиболее кредитоспособные;
-Однако клиенты которые имеют  детей , не состоят в браке и берут кредит на операции с автомобилем , с зарплатой 50000 чаще всего нарушают срок выплаты.